header .me {
  background-image: url('/img/pablo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  align-items: center;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

header .me::after {
  content: "";
  display: block;
  aspect-ratio: 1 / 1;
  height: 100%;
  max-height: 200px;
  flex-shrink: 0;
}

main .education dt::after {
  content: ": ";
}

main .education dd {
  margin: 0;
}

main ul {
  padding-left: 1em;
}