header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "manifesto header"
    "contact   header";
  align-items: stretch;
}

header .me {
  grid-area: header;
}

header .manifesto {
  grid-area: manifesto;
}

header .contact {
  grid-area: contact;
}

main .roles ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main .roles li {
  display: inline-block;
  white-space: nowrap;
}

main .roles li:not(:last-child)::after {
  content: ",";
  margin-right: 0.25em;
}

main .professional-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .professional-experience #professional-experience {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  main .professional-experience {
    grid-template-columns: 1fr;
  }
}

main .skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header       header"
    "competences  languages"
    "stack        stack";
}

@media (max-width: 768px) {
  main .skills {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "competences"
      "languages"
      "stack";
  }
}

main .skills #skills {
  grid-area: header;
}

main .skills .competences {
  grid-area: competences;
}

main .skills .languages {
  grid-area: languages;
}

main .skills .technology-stack {
  grid-area: stack;
}

main .skills .technology-stack ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main .skills .technology-stack li {
  display: inline-block;
  white-space: nowrap;
}

main .skills .technology-stack li:not(:last-child)::after {
  content: ",";
  margin-right: 0.25em;
}

main .education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header             header"
    "unibe              hsr"
    "unibe              epfl"
    "advanced-trainings advanced-trainings";
}

@media (max-width: 768px) {
  main .education {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "unibe"
      "hsr"
      "epfl"
      "advanced-trainings";
  }
}

main .education #education {
  grid-area: header;
}

main .education .unibe {
  grid-area: unibe;
}

main .education .hsr {
  grid-area: hsr;
}

main .education .epfl {
  grid-area: epfl;
}

main .education .advanced-trainings {
  grid-area: advanced-trainings;
}
