header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "manifesto header"
    "contact   header";
  align-items: stretch;
}

header .me {
  grid-area: header;
}

header .manifesto {
  grid-area: manifesto;
}

header .contact {
  grid-area: contact;
}

main .roles ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main .roles li {
  display: inline-block;
  white-space: nowrap;
}

main .roles li:not(:last-child)::after {
  content: ",";
  margin-right: 0.25em;
}

main .professional-experience article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header       timespan"
    "assignments  achievements";
}

main .professional-experience h3 {
  grid-area: header;
}

main .professional-experience .timespan {
  grid-area: timespan;
  align-self: center;
}

main .professional-experience .assignments {
  grid-area: assignments;
}

main .professional-experience .achievements {
  grid-area: achievements;
}

main .skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header       header"
    "competences  languages"
    "stack        stack";
}

@media (max-width: 768px) {
  main .skills {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "competences"
      "languages"
      "stack";
  }
}

main .skills #skills {
  grid-area: header;
}

main .skills .competences {
  grid-area: competences;
}

main .skills .languages {
  grid-area: languages;
}

main .skills .technology-stack {
  grid-area: stack;
}

main .skills .technology-stack ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main .skills .technology-stack li {
  display: inline-block;
  white-space: nowrap;
}

main .skills .technology-stack li:not(:last-child)::after {
  content: ",";
  margin-right: 0.25em;
}

main .education article:not(.advanced-trainings) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "institution  timespan"
  "details      details";
}

main .education article h3 {
  grid-area: institution;
}

main .education article .timespan {
  grid-area: timespan;
  align-self: center;
}

main .education article .details {
  grid-area: details;
}

main .education dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
  row-gap: 0.25rem;
  align-items: start;
}

main .education dt {
  font-weight: bold;
  margin: 0;
}

main .education dd {
  margin: 0;
}
