@font-face {
  font-family: 'pragmata-mono';
  src: url('/fonts/PragmataPro_Mono_R_liga_0830.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pragmata';
  src: url('/fonts/PragmataProR_liga_0830.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pragmata';
  src: url('/fonts/PragmataProB_liga_0830.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pragmata';
  src: url('/fonts/PragmataProI_liga_0830.woff2') format('woff2');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'pragmata';
  src: url('/fonts/PragmataProR_liga_0830.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'pragmata';
}

body {
  background-color: var(--color-background);
  color: var(--color-default);
}

h1,h2,h3,h4 {
  color: var(--color-header);
}

a {
  color: var(--color-link);
}

dt {
  color: var(--color-violet);
  font-weight: bold;
}
