main .roles li {
  cursor: pointer;
  color: var(--color-link);
  text-decoration: underline;
}

main .roles li.active {
  color: var(--color-highlight);
}

main .roles li::after {
  color: var(--color-default);
  text-decoration: none;
  pointer-events: none;
}

main .assignments .highlight {
  color: var(--color-highlight);
}

main .assignments .highlight::after {
  color: var(--color-default);
}

main .skills .technology-stack .highlight {
  color: var(--color-highlight);
}

main .skills .technology-stack::after {
  color: var(--color-default);
}
